<div class="row">
    <div class="offset-m2 col s12 m8 darken-1 z-depth-1">
        <ul class="tabs">
            <li class="tab col m4">
                <a class="active" href="#test1"> Perfil </a>
            </li>
            <li class="tab col m4">
                <a href="#test2"> Editar Perfil </a>

            </li>
            <li class="tab col m4">
                <a href="#test4"> Postagens </a>
            </li>
        </ul>


    </div>
</div>
